* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary;
  color: $black;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: 400;
}

textarea,
input,
button {
  border: none;
  outline: none;
}
