.container {
  width: 100vw;
  min-height: 100vh;
  padding-top: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $primary;

  .card {
    width: 32.9375rem;
    min-height: unset;

    padding: 1rem;
    background-color: $white;
    border-radius: 0.3125rem;

    @media (max-width: 64rem) {
      min-height: 99%;
      width: 100%;
    }
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;

    @media (max-width: 64rem) {
      margin-bottom: 0.5rem;

      font-size: 1.25rem;
    }
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1.25rem;

    @media (max-width: 64rem) {
      font-size: 1rem;
    }

    &.customMargin {
      margin-top: 0.5rem;
    }
  }

  strong {
    font-size: 1.75rem;
    color: $green;
    font-weight: 500;

    @media (max-width: 64rem) {
      font-size: 1.5rem;
    }
  }

  small {
    font-size: 1.125rem;
    color: $grey;

    a {
      color: $blue;
      text-decoration: underline;
    }

    @media (max-width: 64rem) {
      font-size: 0.875rem;
    }
  }

  div.wrapButtons {
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
  }
}
