.install-button {
  position: absolute;
  bottom: 5rem;
  right: 1.5rem;

  height: 3.5rem;
  min-width: 10.4275rem;
  padding: 0.6rem 0.6rem 0.4rem 0.6rem;

  display: flex;
  align-items: center;

  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.16);
  border-radius: 0.6875rem;

  @media (max-width: 64rem) {
    position: relative;
    bottom: unset;
    right: unset;
    margin: auto;

    margin-left: 0.3125rem;
    min-width: unset;

    width: 100%;

    justify-content: center;

    background-color: $primary;
  }

  img {
    height: 1.375rem;
    width: auto;

    margin-right: 0.5rem;

    &.light-icon {
      display: none;
    }
    &.dark-icon {
      display: block;
    }

    @media (max-width: 64rem) {
      &.light-icon {
        display: block;
      }
      &.dark-icon {
        display: none;
      }
    }
  }

  span {
    font-size: 1.25rem;
    color: $black;
    font-weight: 500;

    @media (max-width: 64rem) {
      color: $white;
    }
  }
}
